<tr style="text-align: center">
  <td><%= result.created_at.to_formatted_s(:long) %></td>
  <td><%= result.duration %></td>
  <td><%= result.exception || 'N/A' %></td>
  <td><%= result.passed %></td>
  <td><%= result.environment %></td>
</tr>
